// @import '../../style/variables.scss';

.app {
    &__header {
        margin: 0 auto;
        max-width: 1040px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            li {
                margin: 0 8px;
                a:hover {
                    color: white;
                }
            }
        }
    }
    &__search {
        display: flex;
        margin-right: 40px;
        font-size: 20px;
        font-weight: bold;
    }
    &__input {
        padding-left: 20px;
    }
}